// new colors
$osd_destructive_color: $destructive_color;
$bg_color3: if($variant == 'light', darken($bg_color, 22%), lighten($bg_color, 14%));
$bg_color4: if($variant == 'light', darken($bg_color, 16%), lighten($bg_color, 9%));
$noaccent_selected_fg_color: if($variant == 'light', $text_color, #ffffff);
$accent_color: $selected_bg_color;
$panel_active_bg: if($variant == 'light', $bg_color2, mix($bg_color3, $accent_color, 50%));


// https://github.com/linuxmint/mint-themes/commit/4e128b2f24f971df9ee53cf28ac350d8a0411ce0
$selected_fg_color: #ffffff;
$radius: 6px;

// https://github.com/linuxmint/mint-themes/commit/7a8a1ea62edb5425a6f622e248200cdb4f8cc13e
printdialog {
  paper {
    background-color: white;
    color: $fg_color;
    border: 1px solid $borders_color;
    padding: 0;
  }
}

// https://github.com/linuxmint/mint-themes/commit/dbacada3d9a64474a2f2068efda4c9b40b1c39bc
// https://github.com/linuxmint/mint-themes/commit/1f786385bf01530426ebf7245a34ede3bd1f0e86

// Popup dialog (non-modal, draggable).
.popup-dialog {
}

// https://github.com/linuxmint/mint-themes/commit/8708de44612e168b82e955e87146682489345c86

@function to_em($input, $base: 16px) {
  // multiplied and divided by 1000 to make up for round() shortcoming
  $em_value: ($input / $base) * 1.091 * 1000;
  @return round($em_value) / 1000 * 1em;
}

.grouped-window-list {
  &-scrollbox {
    &-scrollview {
      &.vfade {
        -st-vfade-offset: 68px;
        -st-hfade-offset: 0;
      }

      &.hfade {
        -st-hfade-offset: 68px;
        -st-vfade-offset: 0;
      }
    }

    &-button {
      transition-duration: 100ms;
      color: transparentize($panel_fg, 0.2);

      &-icon {
        icon-size: to_em(16px);
        color: inherit;
      }

      &-start {
        margin-right: 1px;

        &.vertical {
          margin-right: 0;
          margin-bottom: 1px;
        }
      }

      &-end {
        margin-left: 1px;

        &.vertical {
          margin-left: 0;
          margin-top: 1px;
        }
      }

      &:hover {
        background-color: $bg_color3;
        color: $panel_fg;
      }

      &:active {
        background-color: $bg_color4;
        color: $panel_fg;
      }
    }
  }
}