//
// LibAdwaita-1.5 specific stuff
//

selection {
  background-color: $selected_bg_color;
  color: white;
  &:focus-within {
    background-color: $selected_bg_color;
    }
}

viewswitcher > button image {
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
}

%draw_fake_header{
  windowhandle {
    background: linear-gradient(to bottom, $header_bg 28px, $bg_color 0);
    box.has-body {
      margin-top: 28px;
      padding: 5px 50px 30px 50px;
      label.title-2 {
        font-size: 100%;
        margin-bottom: 10px;
      }
    }
    widget {
      padding: 5px;
    }
  }
}

@mixin draw_suggested_destructive($b_color) {
  @include button(suggested_destructive, $b_color);
  @include focus-ring();
  &:hover {@include button(suggested_destructive, lighten($b_color, 10%));}
  &:active, &:checked {@include button(suggested_destructive, darken($b_color, 10%));}
  &:disabled {@include button(insensitive);}
}

%draw_response-area_buttons {
  widget.response-area button {
    @include button(normal);
    &:hover {@include button(hover);}
    &:active, &:selected {@include button(active);}
    &.suggested {@include draw_suggested_destructive($suggested_color);}
    &.destructive {@include draw_suggested_destructive($destructive_color);}
  }
}

%draw_mint-y_buttons {
  button {
    &:not(:first-child):not(:last-child){border-radius: 0;}
    &:dir(ltr):last-child, &:dir(rtl):first-child {border-top-left-radius: 0px; border-bottom-left-radius: 0px;}
    &:dir(ltr):first-child, &:dir(rtl):last-child {border-top-right-radius: 0px; border-bottom-right-radius: 0px;}
    &:dir(ltr):not(:first-child), &:dir(rtl):not(:last-child) {border-left-width: 0;}
  }
  separator {
    background-color: transparent;
    min-width: 0;
  }
}

//
// Sheet decorations
// based on _common.scss > Window Decorations
//

sheet {
  border-radius: 8px 8px 0 0;
  $_wm_border: if($variant=='light', transparentize(black, 0.77), transparentize(black, 0.25));
  $_wm_border_backdrop: if($variant=='light', transparentize(black, 0.82), transparentize(black, 0.25));
  box-shadow: 0 3px 9px 1px transparentize(black, 0.5),
              0 0 0 1px $_wm_border; //doing borders with box-shadow
  > widget > widget {
    @extend %draw_fake_header;
    @extend %draw_response-area_buttons;
    @extend %draw_mint-y_buttons;
  }
  &:backdrop {
    // the transparent shadow here is to enforce that the shadow extents dont
    // change when we go to backdrop, to prevent jumping windows
    box-shadow: 0 3px 9px 1px transparent,
                    0 2px 6px 2px transparentize(black, 0.8),
                    0 0 0 1px $_wm_border_backdrop;
  }

}

clamp > box {
  margin: 24px 0;
  border-spacing: 24px;
}

list.boxed-list,
widget.notes-section {
  border: 1px solid $borders_color;
  border-radius: 0px;
  background: $base_color;
}

list.boxed-list {
  > row.entry,
  > row:not(.expander) {
    padding: 5px 8px;
    min-height: 30px;
  }
  > row.expander > box row > box > box {
    padding: 5px;
    min-height: 30px;
  }
  > row > box box > image {
    padding-left: 10px;
  }
  .about & {
    margin: 4px 20px;
  }
}

preferencesgroup label.heading {font-size: 100%;}

toast {
  padding: 10px;
  background: $osd_bg_color;
  border-radius: 2px 2px 0 0;
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: darken($osd_bg_color, 10%);
  border-spacing: 10px;
  label.heading {
    font-size: 100%;
    font-weight: normal;
  }
}

monthpopover > box {
  border: 1px solid $borders_color;
  margin: 4px;
}

viewport > box list {
  border-style: solid; border-width: 1px;
}

//
// uncircularize some circular buttons
//

button.circular {
  toast &,
  monthpopover &,
  datechooser navigator &.image-button image,
  datechooser navigator &:not(.image-button),
  calendar-view.week-header & {
    border-radius: 3px;
    padding: 5px 8px;
    min-height: 22px;
    min-width: 20px;
  }
  datechooser grid > &,
  datechooser navigator & {
    border-radius: 3px;
  }
}

.messagedialog {
  min-width: 700px;
  @extend %draw_fake_header;
  @extend %draw_response-area_buttons;
  > windowhandle > box {@extend %draw_mint-y_buttons;}
}

// make response-area buttons look better if they are vertical (compact)
widget.response-area.compact {
  margin: 0 20px 10px 20px;
  button {
    border-radius: 3px;
    border-left-width: 1px;
  }
}

// make the borders show up correctly
viewswitcher, stackswitcher {
  button {
    background-clip: padding-box;
  }
}
// gnome-clocks is ignoring everything i throw at it thats not in the inspector
// i checked the source and there is nothing preventing it from working
// todo

// dont do double borders
list row.expander {
  list {
    border-width: 0 0 1px 0;
  }
  &:last-child list {
    border-width: 0;
  }
}

indicatorbin.needs-attention {
  mask {
    background-image: image($fg_color);
  }
  indicator {
    background-image: radial-gradient(circle, $selected_bg_color, $selected_bg_color);
    border-radius: 99px;
    min-height: 17px;
    min-width: 17px;
    label {
      font-size: 70%;
    }
  }
  box.wide & + label {
    padding-left: 10px;
    &:dir(rtl){
      padding-right: 10px;
    }
  }
}

tabbox > separator {background-color: transparent;}

tabbox {border-bottom: 1px solid $header_border; background-color: inherit; padding: 5px 0 6px 0;}

tab {
  // use gnome-terminal as reference
  border: 1px solid;
  border-radius: 3px;
  @include button(normal);
  @include focus-ring();
  &:hover {@include button(hover);}
  &:active, &:selected {@include button(active);}
}

// didnt want to change anything with %needs_attention so i just copied it
%adwaita_needs_attention {
  animation: needs_attention 150ms ease-in;
  background-image: radial-gradient(farthest-side, $_dot_color 96%, transparentize($_dot_color,1 ));
  background-size: 6px 6px, 6px 6px;
  background-repeat: no-repeat;
  @if $variant == 'light' { background-position: right 3px, right 4px; }
  @else { background-position: right 3px, right 2px; }
  &:dir(rtl) {
    @if $variant == 'light' { background-position: left 3px, left 4px; }
    @else { background-position: left 3px, left 2px; }
  }
}

// fix tabs that need attention
tab.needs-attention {
  @extend %adwaita_needs_attention;
}

dropdown popover listview.view > row {transition: none;}

.data-table listview > row.activatable {
  transition: none;
  &:hover {
    background: $base_color;
    &:selected {
      background: $selected_bg_color;
    }
  }
}