@define-color mint_accent #92b372;
@define-color mint_header #ebebed;
@define-color mint_button_hover #ebebed;
@define-color mint_button_unfocused #525255;

/* GTK NAMED COLORS ---------------- use responsibly! */
@define-color accent_bg_color @mint_accent;
@define-color accent_fg_color white;
@define-color accent_color @mint_accent;
@define-color destructive_bg_color @luka_destructive;
@define-color destructive_fg_color white;
@define-color destructive_color @red_4;
@define-color success_bg_color @green_4;
@define-color success_fg_color white;
@define-color success_color #1b8553;
@define-color warning_bg_color @yellow_5;
@define-color warning_fg_color rgba(0, 0, 0, 0.8);
@define-color warning_color #9c6e03;
@define-color error_bg_color @red_3;
@define-color error_fg_color white;
@define-color error_color @red_4;
@define-color window_bg_color #fafafa;
@define-color window_fg_color rgba(0, 0, 0, 0.8);
@define-color view_bg_color #ffffff;
@define-color view_fg_color rgba(0, 0, 0, 0.8);
@define-color headerbar_bg_color @window_bg_color;
@define-color headerbar_fg_color rgba(0, 0, 0, 0.8);
@define-color headerbar_border_color rgba(0, 0, 0, 0.8);
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_shade_color rgba(0, 0, 0, 0.12);
@define-color headerbar_darker_shade_color rgba(0, 0, 0, 0.12);
@define-color sidebar_bg_color @mint_header;
@define-color sidebar_fg_color rgba(0, 0, 0, 0.8);
@define-color sidebar_backdrop_color @mint_header;
@define-color sidebar_shade_color rgba(0, 0, 0, 0.07);
@define-color sidebar_border_color rgba(0, 0, 0, 0.07);
@define-color secondary_sidebar_bg_color #f3f3f3;
@define-color secondary_sidebar_fg_color rgba(0, 0, 0, 0.8);
@define-color secondary_sidebar_backdrop_color #f6f6f6;
@define-color secondary_sidebar_shade_color rgba(0, 0, 0, 0.07);
@define-color secondary_sidebar_border_color rgba(0, 0, 0, 0.07);
@define-color card_bg_color #ffffff;
@define-color card_fg_color rgba(0, 0, 0, 0.8);
@define-color card_shade_color rgba(0, 0, 0, 0.07);
@define-color dialog_bg_color #fafafa;
@define-color dialog_fg_color rgba(0, 0, 0, 0.8);
@define-color popover_bg_color #ffffff;
@define-color popover_fg_color rgba(0, 0, 0, 0.8);
@define-color popover_shade_color rgba(0, 0, 0, 0.07);
@define-color thumbnail_bg_color #ffffff;
@define-color thumbnail_fg_color rgba(0, 0, 0, 0.8);
@define-color shade_color rgba(0, 0, 0, 0.07);
@define-color scrollbar_outline_color white;

/*20.3-Mint-Y colors*/
@define-color luka_titlebar #e8e8e8;
@define-color luka_button #f8f8f8;
@define-color luka_button_hover #fdfdfd;
@define-color luka_button_active #c5c5c5;
@define-color luka_button_disabled #fdfdfd;
@define-color luka_button_disabled_text rgba(0, 0, 0, 0.42);
@define-color luka_card #ffffff;
@define-color luka_card_border #d1d1d1;
@define-color luka_suggested #6db442;
@define-color luka_suggested_hover #88c663;
@define-color luka_suggested_active #568f34;
@define-color luka_destructive #F04A50;
@define-color luka_destructive_hover #f4797e;
@define-color luka_destructive_active #ec1b22;
@define-color luka_header_button #f2f2f2;
@define-color luka_header_button_hover #fafafa;
@define-color luka_header_button_active_text #202020;
@define-color luka_border_1 #d2d2d2;
@define-color luka_border_2 #dfdfdf;
@define-color luka_border_3 #e6e6e6;
@define-color luka_border_4 #cbcbcb;
@define-color luka_border_5 @luka_border_7;
@define-color luka_border_6 #252525; /*fix*/
@define-color luka_border_7 #bbbbbb;
@define-color luka_tooltip_text #515151;
@define-color luka_text #303030;
@define-color luka_scrollbar #a8a8a8;
@define-color luka_scrollbar_hover #bababa;
@define-color luka_scrollbar_bg #fcfcfc;
@define-color luka_scrollbar_border #d3d3d3;
@define-color luka_modelbutton_hover #e6e6e6;
@define-color luka_check_radio #fefefe;
@define-color luka_check_radio_bg #ffffff;
@define-color luka_check_radio_border #e3e3e3;
@define-color luka_clumnview_button_fg @luka_text;
@define-color luka_slider_bg #c7c7c7;
@define-color luka_slider_fg #fafafa;
@define-color luka_switch_bg #cfcfcf;
@define-color luka_switch_fg #ffffff;
@define-color luka_toast_bg #fafafa;
